/* ========================= */
/* Reset */
/* ========================= */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background: #fff;
  overflow: hidden;
}

/* ========================= */
/* Main Container */
/* ========================= */

.container {
  height: 100vh;
  width: 100vw;
  text-align: center;
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

/* كل سكشن فوق بعض لكن منظم */
.container > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
  width: 100%;
}

/* ========================= */
/* SECTION ONE (Greeting) */
/* ========================= */

.one {
  position: relative;
  font-size: 4.5rem;
}

.one > img {
  vertical-align: middle;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

/* الجمل */
.two {
  position: relative;
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 1.5rem;
  height: 70px; /* يمنع اهتزاز */
  overflow: hidden;
}

/* كل سطر */
.line {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(15px);
}

/* ألوان */
.line:nth-child(1) { color: #ff4d4d; }
.line:nth-child(2) { color: #ff9933; }
.line:nth-child(3) { color: #33cc33; }
.line:nth-child(4) { color: #3399ff; }
.line:nth-child(5) { color: #9933ff; }
.line:nth-child(6) { 
  color: #ff33cc; 
  font-weight: bold;
  font-size: 2rem;
}

/* ========================= */
/* SECTION THREE */
/* ========================= */

.three {
  font-size: 3rem;
  opacity: 0;
}

/* ========================= */
/* SECTION FOUR (Message Box) */
/* ========================= */

.four {
  opacity: 0;
}

.four .text-box {
  width: 600px;
  margin: 0 auto;
  border: 3px solid #aaa;
  border-radius: 8px;
  padding: 15px;
  position: relative;
  background: #fff;
}

.text-box p {
  margin: 0;
  text-align: left;
  line-height: 1.5;
}

.text-box span {
  opacity: 0;
}

.text-box .fake-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;
  background-color: rgb(21, 161, 237);
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.9rem;
}

/* ========================= */
/* Ideas Section */
/* ========================= */

.five p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
}

.idea-3 strong {
  padding: 3px 5px;
  border-radius: 3px;
  display: inline-block;
}

.five .idea-5 {
  font-size: 4rem;
}

.idea-5 span,
.idea-6 span,
.wish-hbd span {
  display: inline-block;
}

.idea-6 span {
  font-size: 15rem;
}

/* ========================= */
/* Final Section */
/* ========================= */

.six {
  position: relative;
  opacity: 0;
}

.six img {
  display: inline-block;
  max-width: 45%;
  height: auto;
}

.six .hat {
  position: absolute;
  width: 80px;
  top: -35px;
  left: 41.5%;
}

.wish-hbd {
  font-size: 3em;
  margin: 0;
}

.wish h5 {
  font-weight: lighter;
  font-size: 2rem;
  margin: 10px 0 0;
}

/* ========================= */
/* Balloons */
/* ========================= */

.baloons img {
  display: inline-block;
  position: absolute;
  width: 200px;
  opacity: 0;
}

.baloons img:nth-child(even) { left: 10%; }
.baloons img:nth-child(odd) { right: 10%; }
.baloons img:nth-child(3n) { left: 30%; }

/* ========================= */
/* SVG Confetti */
/* ========================= */

.eight svg {
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1;
}

/* ========================= */
/* Ending */
/* ========================= */

.nine p {
  font-size: 2rem;
  font-weight: lighter;
  opacity: 0;
}

#replay {
  z-index: 3;
  cursor: pointer;
}

/* ========================= */
/* Responsive */
/* ========================= */

@media screen and (max-width: 500px) {

  .four .text-box {
    width: 90%;
  }

  .idea-6 span {
    font-size: 9rem;
  }

  .wish-hbd {
    font-size: 2.2em;
  }

  .wish h5 {
    font-size: 1.3rem;
  }

  .nine p {
    font-size: 1.5rem;
  }
}
